<%- include('../partials/header') %>

<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= contact.name %> <%= contact.lastname %></h5>
    <h6 class="card-subtitle mb-2 text-muted">Grupo: <%= contact.group.name %></h6>
    <p class="card-text">Número: <%= contact.number %></p>
    <p class="card-text">Correo: <%= contact.email %></p>
    <form action="/contact/<%= contact._id %>?_method=DELETE" method="POST">
    	<input type="submit" value="Eliminar">
    </form>
    <a href="/contact/<%= contact._id %>/edit" class="card-link">Editar</a>
  </div>
</div>